.mainContainer {
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding: 40px;
  margin-top: 20px;
}
#generatedPaswordDisplay {
  word-break: break-all;
}
.greyedOut {
  color:rgb(176, 176, 176);
}
.marginBottom {
  margin-bottom: 20px;
}
